# This workflow will install Python dependencies and run all linting checks
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Lint

on: [push, pull_request]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.13]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --editable .
        python -m pip install -r requirements-dev.txt
    - name: Check code formatting with black
      run: |
        black jira_agile_metrics/ jira_agile_metrics/tests/ setup.py --check
    - name: Run ruff
      run: |
        ruff check jira_agile_metrics/ jira_agile_metrics/tests/ setup.py
    - name: Run pylint
      run: |
        pylint jira_agile_metrics/ jira_agile_metrics/tests/ setup.py
